// ==============================
// Custom style
// 自定义样式
// ==============================

header .logo {
    min-height: 1.3em;
    height: 1.3em;
}

.special .single-title, .special .single-subtitle {
    text-align: left;
}